.nav-item{
  color: #4be8ae;
}

.card {
  margin-top: 100px;
}

.parallax {
	/* The image used */
	background-image: url("./images/owls.png");

	/* Set a specific height */
	min-height: 500px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
